DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=exuser
DOCKER_INFLUXDB_INIT_PASSWORD=expassword
DOCKER_INFLUXDB_INIT_ORG=exampe-org
DOCKER_INFLUXDB_INIT_BUCKET=example-bucket
DOCKER_INFLUXDB_INIT_RETENTION=2d
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=example-secret-auth-token
